* {
  box-sizing: border-box;
  font-weight: 100;
  letter-spacing: 2px;
  user-select: none;

}
html::-webkit-scrollbar {
    display: none;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  overflow: hidden;
  background-color: #2A1427;
  color: #eeecec;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
header{
  position: absolute;
  top: 0;
  animation: fadeIn 2s ease-out;
}
h1{
  font-size: 40px;
  text-align: center;
  animation: logoGlow 2s infinite alternate ease-in-out;
}
p{
  font-size: 20px;
  text-align: center;
}
form{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  border-radius: 12px;
  background-color: #4a2a3a77;
  text-align: center;
  animation: fadeIn 1s ease-out;
  box-shadow: 0 0 25px #4a2a3a77;

}
form:hover{
  transform: scale(1.01);

}
input {
  background-color: #4A2A3A ;
  font-size: 18px;
  color: #eeecec;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}
input:hover {
  background-color: #6f3653aa ;
  border: none;
}

input::placeholder {
  color: #eeececaa;
  font-size: larger;
}
button {
  background-color: transparent;
  color:  white;
  border: none;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  width: 60%;
  align-self: center;
  text-shadow: 0 0 25px #DC70CE;
  color:#DC70CE;


}
button:hover {
  transform: scale(1.1);
  animation: none;

}
@media (max-width:420px){
  .card{padding:1rem;border-radius:8px}
  h1{font-size:28px
  }
  button{
    padding: 0.5rem;
  }
  form{
    padding: 1rem;
    font-size: 18px;
    gap: 0.5rem;
  }
  input{
    font-size: 12px;
  }
  header{
    position:static;
  }
  container{
    padding:1rem;
    gap: 0.5rem;
  }
  form{
    font-size: 20px;
    padding: 1rem;
  }
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes logoGlow {
    0%, 100% { filter: drop-shadow(0 0 10px #DC70CE) drop-shadow(0 0 20px #DC70CE); transform: translateX(0); }
    50% { filter: drop-shadow(0 0 15px #DC70CE) drop-shadow(0 0 30px #DC70CE); transform: translateX(2px); }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}