* {
    box-sizing: border-box;
    font-weight: 100;
    letter-spacing: 2.5px;
    user-select: none;
}
html::-webkit-scrollbar {
    display: none;
}
body {
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  /* background: linear-gradient(135deg, #011C40 0%, #023859 50%, #54ACBF 100%); */
  background: linear-gradient(135deg, #011C40 50%, #3b0252 60%, #54ACBF 100%);
    overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #eeecec;
}
.layout {     
    max-height: 100vh;
    display: grid;
    grid-template-columns: 15% 20px 1fr 8%;
    grid-template-rows: 10% 20px 1fr 10%;
    gap: 16px;
}
.header {  
    box-shadow: inset 0 0 40px #011C40;
    border-radius: 16px;
    grid-column: 1 / 5;
    padding: 16px;
    background-color: #023859;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    text-align: center;
    animation: logoGlow 2s infinite alternate ease-in-out;
}
.sidebar {  
    box-shadow: inset 0 0 100px #011c4067;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 16px;
    background-color: #02385994;
    border-radius: 16px;
    box-shadow: #2A1427 inner;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30%;
    padding-bottom: 30%;
}   

.main {  
    box-shadow: inset 0 0 100px #011C40;
    height: 75vh;
    overflow: hidden;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #023859;
    border-radius: 16px;
    transition: transform 0.4s ease, box-shadow 10s ease;
}
.main:hover, .sidebar:hover {
    transform: scale(1.005);
    box-shadow: 0 0 40px #023859;
}
button {
  background-color: transparent;
  border: none;
  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 600;
  cursor: pointer;
  align-self: center;
  text-shadow: 0 0 20px #011C40;
  color:#54ACBF;
  transition: transform 0.3s ease;
}
button:hover, #file-label:hover{
  transform: scale(1.1);
  color:#A7EBF2;
  animation: none;
}
@keyframes logoGlow {
    0%, 100% { filter: drop-shadow(0 0 10px #54ACBF) drop-shadow(0 0 20px #54ACBF); transform: translateX(0); }
    50% { filter: drop-shadow(0 0 15px #54ACBF) drop-shadow(0 0 30px #54ACBF); transform: translateX(2px); }
}