.list{
    padding: 1rem;
    height: 65vh;
    overflow-y: auto;
}
.legend{
    display: grid; grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 40px 0.5fr;
    border-bottom:1px solid #fefefea4 ;
    padding-bottom: 1rem;
}
.legendText{
    margin:auto;
    font-weight: 400;

}
/* Cały scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Tło scrollbara */
::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

/* Suwak */
::-webkit-scrollbar-thumb {
  background: #54abbf93;
  border-radius: 4px;
}

/* Suwak po najechaniu */
::-webkit-scrollbar-thumb:hover {
  background: #54abbf88;
}
