form{
    display: flex;
    flex-direction: column;
    gap: 10%;
    text-align: center;
    max-width: fit-content;
    margin:auto;
    height: 50VH;
    padding: 5rem;
}
.input {
    border: none;
    border-radius: 8px;
    background-color: #54ACBF;
    padding: 0.5rem;
    box-shadow: 0 0 40px black;
    margin-bottom: 10px;
    transition: transform 1s ease;
}
.input:hover{
    transform: scale(1.1);
}
p {
    text-align: center;
    width: 100%;
}
.login-label{
    display: none;
}